html,body{
    margin: 0;
    padding: 0;
}
#app {
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    position: relative;
}
.title {
    font-size: 64rem;
    margin-top: 42rem;
    line-height: 64rem;
    font-weight: 600;
    color: #59b472;
    margin-bottom: 676rem;
}
@keyframes scale{   /*动画帧*/
    80%{transform:scale(0.8)}
}
.animateContainer {
    position: absolute;
    top: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    overflow: hidden;
    /* transform:scale(0.5) */
    animation:scale 1s linear infinite;
}
.doorNum {
    font-size: 26rem;
    line-height: 26rem;
    font-weight: 500;
    color: #59b472;
    margin-bottom: 40rem;
}
.mainImg {
    width: 545rem;
    height: 545rem;
}
.time {
    font-size: 42rem;
    line-height: 42rem;
    margin-bottom: 48rem;
    color: #59b472;
    font-weight: 400;
}
.count {
    font-size: 38rem;
    line-height: 38rem;
    margin-bottom: 38rem;
    color: #59b472;
    font-weight: 400;
}
.flexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.userInfo {
    width: 100%;
    height: 280rem;
    box-sizing: border-box;
    background: #59b472;
    padding: 40rem 33rem;
}
.userForm {
    margin-bottom: 28rem;
}
.userForm:last-child {
    margin-bottom: 0rem;
}
.formTitle, .formContent{
    width: 148rem;
    font-size: 32rem;
    line-height: 32rem;
    font-weight: 400;
    color: #fff;
}
.formTitle {
    margin-right: 25rem;
}
.bottom {
    line-height: 58rem;
    font-size: 34rem;
    font-weight: 400;
    color: #504b51;
    text-align: center;
}
